.home-title {
    font-size: 2.5rem;
    margin-top: 5rem;
    letter-spacing: 1rem;
}

#product-details-wrapper {
    padding-top: 2rem;
}

.product-img {
    flex-basis: 30%;
}

.product-img img{
    width: 100%;
}

.product-details-box {
    flex-basis: 60%;
}

.product-name {
    font-size: 1.5rem;
}

.product-price {
    margin-top: 1rem;
    font-size: 1rem;
}

.product-description {
    margin-top: 1rem;
}

.product-description-title {
    color: var(--mid-gray);
    margin-bottom: 1rem;
}

.product-description-data {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
}

.product-details-action {
    margin: 0.25rem;
    width: 250px;
}